<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @name || 'Home' %></title>
    <base id="base_target"></base>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) {
        document.getElementById('base_target').target = 'main';
        document.body.className = 'frames'
      }
    </script>
    <div class="content">
      <h2>Resources</h2>
      <div id="resources_<%=@page_type2%>">
        <ul>
        <% @resources.each do |r| %>
          <li>
            Resource:  <a href="/apidoc/<%=r.name %>.html"><%=r.resource_location %></a>
            <% if r.function_blocks.any? %>
              <ul>
                <% r.function_blocks.each do |method_block| %>
                  <li><a href="/apidoc/<%=r.name %>.html#method_<%=method_block.method_order%>"><%= method_block.url %></a></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    
    </div>
  </body>
</html>
